<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<h3>Имя: {{ pers.name }}</h3>
<h3>Фамилия: {{ pers.last_name }}</h3>
<h3>Возраст: {{ pers.age }}</h3>
<h3>Емейл: {{ pers.email }}</h3>
<h3>Какие дисциплины он посещает:</h3>
{% for i in pers.disciplines.all %}
	{{ i }}<br>
{% endfor %}
<h3>Курс: {{ pers.course }}</h3>
<form action="{% url 'lib:delete_form' pers.id %}" method="post">
	{% csrf_token %}
	<input type="submit" value="Delete">
</form>
<a href="{% url 'lib:update_form' pers.id %}"><button>Изменить</button></a>
</body>
</html>