table{
    border: 3px solid black;
    border-collapse: collapse;
    width: 90%;
    margin-top: 10px;
    margin-left: 1%;
    max-width: 90%;
}
th{
    border: 2px solid black ;
    width: 20px;
}
td {
    border: 2px solid black;
    text-align: center;
    /*max-height: 50px;*/
}
td.book {
    border: 2px solid black;
    text-align: center;
    width: 200px;
}